<div>
{% block content %}{% endblock %}
<hr/>
<a href="{{ cherez_web__project__url__protocol }}://{{ cherez_web__project__url__host }}{{ path(cherez_web__service__redirect__index_route) }}">
    {{ cherez_web__project__url__protocol }}://{{ cherez_web__project__url__host }}{{ path(cherez_web__service__redirect__index_route) }}
</a>
</div>